{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "doo API Documentation",
    "description": "doo API Documentation"
  },
  "host": "integration.doo.net",
  "basePath": "/v1",
  "tags": [
    {
      "name": "events",
      "description": "Everything about Events"
    },
    {
      "name": "oauth",
      "description": "Everything about OAuth"
    },
    {
      "name": "orders",
      "description": "Everything about Orders"
    },
    {
      "name": "organizers",
      "description": "Everything about Organizers"
    },
    {
      "name": "qrcodes",
      "description": "Everything about QRCodes"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Get all events for specific organizer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Use this parameter to specify type of the events. Available types: live, draft, done. You can specify few types simultaneosly using `,` as a separator: `...&status=live,draft,done`",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/EventsGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "uri": "https://${stageVariables.ApiUrl}/events",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/EventsIdGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.eventId": "method.request.path.eventId"
          },
          "uri": "https://${stageVariables.ApiUrl}/events/{eventId}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/events/{eventId}/attendees": {
      "get": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/EventsIdAttendeesGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.eventId": "method.request.path.eventId"
          },
          "uri": "https://${stageVariables.ApiUrl}/events/{eventId}/attendees",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/events/{eventId}/details": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Get specific event with additional details",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/EventsIdDetailsGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.eventId": "method.request.path.eventId"
          },
          "uri": "https://${stageVariables.ApiUrl}/events/{eventId}/details",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/events/{eventId}/orders": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Get all orders for specific event",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/EventsIdOrdersGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.eventId": "method.request.path.eventId"
          },
          "uri": "https://${stageVariables.ApiUrl}/events/{eventId}/orders",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/events/{eventId}/edit": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "PROD - Get event information for editing",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/EventsIdEditGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.eventId": "method.request.path.eventId"
          },
          "uri": "https://${stageVariables.ApiUrl}/events/{eventId}/edit",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "events"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/oauth": {
      "post": {
        "tags": [
          "oauth"
        ],
        "description": "Use this endpoint to authorize as a user in our system and get `access_token` and `refresh_token`.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "OauthPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OauthPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/OauthPostResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "uri": "https://${stageVariables.ApiUrl}/oauth",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "oauth"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/oauth/zapier": {
      "post": {
        "tags": [
          "oauth"
        ],
        "description": "PROD - OAuth endpoint for Zapier",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/problem+json",
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "OauthZapierPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OauthZapierPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/OauthZapierPostResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "400 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Content-Type": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "200": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{\"access_token\":\"$inputRoot.data.access_token\",\"refresh_token\":\"$inputRoot.data.refresh_token\"}"
              }
            },
            "4\\d{2}": {
              "statusCode": "400",
              "responseParameters": {
                "method.response.header.Content-Type": "'application/json'"
              }
            }
          },
          "uri": "https://${stageVariables.ApiUrl}/oauth",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "oauth"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "orders"
        ],
        "description": "PROD - Get data for specific order",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Should be `Bearer access_token`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Default `application/json`",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/OrdersIdGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.orderId": "method.request.path.orderId"
          },
          "uri": "https://${stageVariables.ApiUrl}/orders/{orderId}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "orders"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/organizers/current": {
      "get": {
        "tags": [
          "organizers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/OrganizersCurrentGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "uri": "https://${stageVariables.ApiUrl}/organizers/current",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "organizers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/qrcodes/{hash}": {
      "get": {
        "tags": [
          "qrcodes"
        ],
        "description": "Get information about QR code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/QrcodesHashGetResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "405": {
            "description": "405 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.hash": "method.request.path.hash"
          },
          "uri": "https://${stageVariables.ApiUrl}/qrcodes/{hash}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "qrcodes"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/qrcodes/{hash}/checkin": {
      "post": {
        "tags": [
          "qrcodes"
        ],
        "description": "Check in specified ticket",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "403": {
            "description": "403 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "405": {
            "description": "405 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.hash": "method.request.path.hash"
          },
          "uri": "https://${stageVariables.ApiUrl}/qrcodes/{hash}/checkin",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "qrcodes"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/qrcodes/{hash}/reset": {
      "post": {
        "tags": [
          "qrcodes"
        ],
        "description": "Uncheck selected ticket",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "405": {
            "description": "405 response",
            "schema": {
              "$ref": "#/definitions/CommonStatusResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.hash": "method.request.path.hash"
          },
          "uri": "https://${stageVariables.ApiUrl}/qrcodes/{hash}/reset",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http_proxy"
        }
      },
      "options": {
        "tags": [
          "qrcodes"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "definitions": {
    "OauthPostResponse": {
      "type": "object",
      "description": "",
      "properties": {
        "response_status": {
          "type": "integer"
        },
        "developer_message": {
          "type": "string",
          "minLength": 1
        },
        "user_message": {
          "type": "string",
          "minLength": 1
        },
        "data": {
          "type": "object",
          "properties": {
            "access_token": {
              "type": "string",
              "minLength": 1
            },
            "refresh_token": {
              "type": "string",
              "minLength": 1
            }
          },
          "required": [
            "access_token",
            "refresh_token"
          ]
        },
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            }
          },
          "required": [
            "self"
          ]
        }
      },
      "required": [
        "_links",
        "data",
        "developer_message",
        "response_status",
        "user_message"
      ]
    },
    "EventsIdOrdersGetResponse": {
      "type": "object",
      "description": "",
      "properties": {
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            },
            "first": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            },
            "last": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            }
          },
          "required": [
            "self",
            "first",
            "last"
          ]
        },
        "_embedded": {
          "type": "object",
          "properties": {
            "orders": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "title": {
                        "type": "string",
                        "minLength": 1
                      },
                      "start_date": {
                        "type": "string",
                        "minLength": 1
                      },
                      "end_date": {
                        "type": "string",
                        "minLength": 1
                      },
                      "event_type": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "start_date",
                      "end_date",
                      "event_type"
                    ]
                  },
                  "order": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "event_name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "status": {
                        "type": "string",
                        "minLength": 1
                      },
                      "invoice_id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "first_name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "cancellation_date": {
                        "type": "string",
                        "minLength": 1
                      },
                      "removed_date": {
                        "type": "string",
                        "minLength": 1
                      },
                      "active_date": {
                        "type": "string",
                        "minLength": 1
                      },
                      "order_amount": {
                        "type": "string",
                        "minLength": 1
                      },
                      "payment": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "minLength": 1
                          },
                          "amount": {
                            "type": "string",
                            "minLength": 1
                          },
                          "method": {
                            "type": "string",
                            "minLength": 1
                          },
                          "payment_date": {
                            "type": "string",
                            "minLength": 1
                          },
                          "booking_date": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "status",
                          "amount",
                          "method",
                          "payment_date",
                          "booking_date"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "event_name",
                      "status",
                      "invoice_id",
                      "first_name",
                      "last_name",
                      "active_date",
                      "order_amount",
                      "payment"
                    ]
                  }
                },
                "required": [
                  "event",
                  "order"
                ]
              }
            }
          },
          "required": [
            "orders"
          ]
        },
        "page_count": {
          "type": "integer"
        },
        "page_size": {
          "type": "integer"
        },
        "total_items": {
          "type": "integer"
        },
        "page": {
          "type": "integer"
        }
      },
      "required": [
        "_links",
        "_embedded",
        "page_count",
        "page_size",
        "total_items",
        "page"
      ]
    },
    "EventsIdEditGetResponse": {
      "type": "object",
      "description": "",
      "properties": {
        "id": {
          "type": "number"
        },
        "user_id": {
          "type": "number"
        },
        "contact_detail_id": {
          "type": "number"
        },
        "email_attachment_id": {
          "type": "string",
          "minLength": 1
        },
        "location_id": {
          "type": "number"
        },
        "title": {
          "type": "string",
          "minLength": 1
        },
        "organizer_name": {
          "type": "string",
          "minLength": 1
        },
        "description": {
          "type": "string",
          "minLength": 1
        },
        "short_description": {
          "type": "string",
          "minLength": 1
        },
        "venue_address": {
          "type": "string",
          "minLength": 1
        },
        "venue_name": {
          "type": "string",
          "minLength": 1
        },
        "start_date": {
          "type": "string",
          "minLength": 1
        },
        "end_date": {
          "type": "string",
          "minLength": 1
        },
        "created_date": {
          "type": "string",
          "minLength": 1
        },
        "update_date": {
          "type": "string",
          "minLength": 1
        },
        "draft_date": {
          "type": "string",
          "minLength": 1
        },
        "live_date": {
          "type": "string",
          "minLength": 1
        },
        "is_deleted": {
          "type": "string",
          "minLength": 1
        },
        "deletion_date": {
          "type": "string",
          "minLength": 1
        },
        "cancelled_date": {
          "type": "string",
          "minLength": 1
        },
        "short_name": {
          "type": "string",
          "minLength": 1
        },
        "type": {
          "type": "string",
          "minLength": 1
        },
        "comment": {
          "type": "string",
          "minLength": 1
        },
        "event_type": {
          "type": "string",
          "minLength": 1
        },
        "bank_transfer_period": {
          "type": "string",
          "minLength": 1
        },
        "booking_approval": {
          "type": "string",
          "minLength": 1
        },
        "duplicate_email_detection": {
          "type": "string"
        },
        "total_event_capacity": {
          "type": "string",
          "minLength": 1
        },
        "status": {
          "type": "string",
          "minLength": 1
        },
        "total_amount": {
          "type": "number"
        },
        "image_shape_type": {
          "type": "string",
          "minLength": 1
        },
        "image": {
          "type": "string",
          "minLength": 1
        },
        "image_cover": {
          "type": "string"
        },
        "has_manual_approve": {
          "type": "boolean"
        },
        "fees_type": {
          "type": "number"
        },
        "vat_option": {
          "type": "number"
        },
        "vat_option_text": {
          "type": "string",
          "minLength": 1
        },
        "ticket_option": {
          "type": "boolean"
        },
        "amount": {
          "type": "number"
        },
        "creation_status": {
          "type": "number"
        },
        "is_publishable": {
          "type": "boolean"
        },
        "image_preview_url": {
          "type": "string",
          "minLength": 1
        },
        "image_id": {
          "type": "string",
          "minLength": 1
        },
        "image_cover_id": {
          "type": "string",
          "minLength": 1
        },
        "email_attachments": {
          "type": "string",
          "minLength": 1
        },
        "total_revenue": {
          "type": "number"
        },
        "demo_screen": {
          "type": "array",
          "items": {
            "properties": {}
          }
        },
        "image_cover_preview_url": {
          "type": "string"
        },
        "has_order_with_booking_approval": {
          "type": "boolean"
        },
        "has_coupons": {
          "type": "boolean"
        },
        "has_access_codes": {
          "type": "boolean"
        },
        "address": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number"
            },
            "place_id": {
              "type": "string",
              "minLength": 1
            },
            "latitude": {
              "type": "string",
              "minLength": 1
            },
            "longitude": {
              "type": "string",
              "minLength": 1
            },
            "street_address": {
              "type": "string",
              "minLength": 1
            },
            "street_number": {
              "type": "string",
              "minLength": 1
            },
            "route": {
              "type": "string",
              "minLength": 1
            },
            "city": {
              "type": "string",
              "minLength": 1
            },
            "country": {
              "type": "string",
              "minLength": 1
            },
            "timezone_id": {
              "type": "string",
              "minLength": 1
            },
            "postcode": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_1": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_2": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_3": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_4": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_5": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_1": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_2": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_3": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_4": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_5": {
              "type": "string",
              "minLength": 1
            },
            "formatted_address": {
              "type": "string",
              "minLength": 1
            },
            "timezone_offset": {
              "type": "number"
            }
          },
          "required": [
            "id",
            "place_id",
            "latitude",
            "longitude",
            "city",
            "country",
            "timezone_id",
            "administrative_area_level_1",
            "administrative_area_level_2",
            "formatted_address",
            "timezone_offset"
          ]
        },
        "questions": {
          "type": "object",
          "properties": {
            "buyer_questions": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "default_questions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "additional_questions": {
                  "type": "array",
                  "items": {
                    "properties": {}
                  }
                }
              },
              "required": [
                "id",
                "default_questions",
                "additional_questions"
              ]
            },
            "attendee_questions": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "default_questions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "additional_questions": {
                  "type": "array",
                  "items": {
                    "properties": {}
                  }
                }
              },
              "required": [
                "default_questions",
                "additional_questions"
              ]
            }
          },
          "required": [
            "buyer_questions",
            "attendee_questions"
          ]
        },
        "contact": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "email": {
              "type": "string",
              "minLength": 1
            },
            "phone": {
              "type": "string"
            },
            "organization": {
              "type": "string",
              "minLength": 1
            },
            "organizer_id": {
              "type": "string",
              "minLength": 1
            }
          },
          "required": [
            "name",
            "email",
            "phone",
            "organization",
            "organizer_id"
          ]
        },
        "terms": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "minLength": 1
            }
          },
          "required": [
            "type"
          ]
        },
        "event_attributes": {
          "type": "object",
          "properties": {
            "attributes": {
              "type": "array",
              "items": {
                "properties": {}
              }
            },
            "templates": {
              "type": "array",
              "items": {
                "required": [
                  "controlling",
                  "id",
                  "name",
                  "type",
                  "default",
                  "template"
                ],
                "properties": {
                  "controlling": {
                    "type": "boolean"
                  },
                  "id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "type": {
                    "type": "number"
                  },
                  "default": {
                    "type": "boolean"
                  },
                  "template": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          },
          "required": [
            "attributes",
            "templates"
          ]
        },
        "ticket_limitation": {
          "type": "object",
          "properties": {
            "min": {
              "type": "string",
              "minLength": 1
            },
            "max": {
              "type": "string",
              "minLength": 1
            }
          }
        },
        "event_settings": {
          "type": "object",
          "properties": {
            "custom_checkout_text": {
              "type": "object",
              "properties": {
                "de": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              },
              "required": [
                "de",
                "en"
              ]
            },
            "has_white_labels": {
              "type": "number"
            },
            "payment_bank_transfer": {
              "type": "number"
            },
            "payment_credit_card": {
              "type": "number"
            },
            "payment_paypal": {
              "type": "number"
            }
          },
          "required": [
            "custom_checkout_text",
            "has_white_labels",
            "payment_bank_transfer",
            "payment_credit_card",
            "payment_paypal"
          ]
        },
        "ticket_categories": {
          "type": "array",
          "items": {
            "required": [
              "id",
              "name",
              "amount",
              "price",
              "description",
              "show_remaining_capacity",
              "max",
              "min",
              "vat",
              "vat_percent",
              "relative_start_date",
              "relative_start_date_type",
              "relative_end_date",
              "relative_end_date_type",
              "display_order",
              "hide_ticket_category",
              "available_amount",
              "is_featured",
              "is_ended",
              "taken_amount",
              "ticket_price",
              "ticket_fees",
              "max_available_amount",
              "min_available_amount"
            ],
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "amount": {
                "type": "number"
              },
              "price": {
                "type": "number"
              },
              "description": {
                "type": "string"
              },
              "show_remaining_capacity": {
                "type": "boolean"
              },
              "max": {
                "type": "number"
              },
              "min": {
                "type": "number"
              },
              "vat": {
                "type": "number"
              },
              "vat_percent": {
                "type": "number"
              },
              "start_date": {
                "type": "string",
                "minLength": 1
              },
              "relative_start_date": {
                "type": "string",
                "minLength": 1
              },
              "relative_start_date_type": {
                "type": "string",
                "minLength": 1
              },
              "relative_end_date": {
                "type": "string",
                "minLength": 1
              },
              "relative_end_date_type": {
                "type": "string",
                "minLength": 1
              },
              "display_order": {
                "type": "string",
                "minLength": 1
              },
              "hide_ticket_category": {
                "type": "boolean"
              },
              "available_amount": {
                "type": "number"
              },
              "is_featured": {
                "type": "boolean"
              },
              "is_ended": {
                "type": "boolean"
              },
              "taken_amount": {
                "type": "string",
                "minLength": 1
              },
              "ticket_price": {
                "type": "number"
              },
              "ticket_fees": {
                "type": "number"
              },
              "max_available_amount": {
                "type": "number"
              },
              "min_available_amount": {
                "type": "number"
              }
            }
          }
        },
        "participants_count": {
          "type": "number"
        },
        "show_bank_transfer": {
          "type": "boolean"
        },
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            }
          },
          "required": [
            "self"
          ]
        },
        "external_user_id": {
          "type": "string",
          "minLength": 1,
          "description": "User ID in the external system (used in webhooks)"
        }
      },
      "required": [
        "id",
        "user_id",
        "contact_detail_id",
        "location_id",
        "title",
        "venue_address",
        "start_date",
        "end_date",
        "created_date",
        "update_date",
        "draft_date",
        "is_deleted",
        "short_name",
        "type",
        "event_type",
        "bank_transfer_period",
        "booking_approval",
        "duplicate_email_detection",
        "total_event_capacity",
        "status",
        "total_amount",
        "image_shape_type",
        "image",
        "image_cover",
        "has_manual_approve",
        "fees_type",
        "vat_option",
        "ticket_option",
        "amount",
        "creation_status",
        "is_publishable",
        "image_preview_url",
        "image_id",
        "total_revenue",
        "demo_screen",
        "image_cover_preview_url",
        "has_order_with_booking_approval",
        "has_coupons",
        "has_access_codes",
        "address",
        "questions",
        "contact",
        "terms",
        "event_attributes",
        "ticket_limitation",
        "event_settings",
        "ticket_categories",
        "participants_count",
        "show_bank_transfer",
        "_links"
      ]
    },
    "QrcodesHashGetResponse": {
      "type": "object",
      "description": "",
      "properties": {
        "response_status": {
          "type": "integer"
        },
        "developer_message": {
          "type": "string",
          "minLength": 1
        },
        "user_message": {
          "type": "string",
          "minLength": 1
        },
        "data": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "minLength": 1
            },
            "type": {
              "type": "string",
              "minLength": 1
            },
            "item": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "event_ticket_id": {
                  "type": "integer"
                },
                "custom_price": {
                  "type": "string",
                  "minLength": 1
                },
                "status": {
                  "type": "string",
                  "minLength": 1
                },
                "checkin_link": {
                  "type": "string",
                  "minLength": 1
                },
                "pdf_link": {
                  "type": "string"
                },
                "name_tag_link": {
                  "type": "string",
                  "minLength": 1
                },
                "passbook_link": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "id",
                "event_ticket_id",
                "status",
                "checkin_link"
              ]
            }
          },
          "required": [
            "status",
            "type",
            "item"
          ]
        }
      },
      "required": [
        "response_status",
        "developer_message",
        "user_message",
        "data"
      ]
    },
    "CommonStatusResponse": {
      "type": "object",
      "description": "",
      "required": [
        "developer_message",
        "response_status",
        "user_message"
      ],
      "properties": {
        "developer_message": {
          "type": "string",
          "minLength": 1
        },
        "response_status": {
          "type": "integer"
        },
        "user_message": {
          "type": "string",
          "minLength": 1
        },
        "data": {
          "type": "string"
        }
      }
    },
    "EventsIdGetResponse": {
      "type": "object",
      "description": "",
      "properties": {
        "id": {
          "type": "number"
        },
        "user_id": {
          "type": "number"
        },
        "contact_detail_id": {
          "type": "number"
        },
        "email_attachment_id": {
          "type": "number"
        },
        "location_id": {
          "type": "number"
        },
        "title": {
          "type": "string",
          "minLength": 1
        },
        "organizer_name": {
          "type": "string",
          "minLength": 1
        },
        "description": {
          "type": "string",
          "minLength": 1
        },
        "short_description": {
          "type": "string",
          "minLength": 1
        },
        "venue_address": {
          "type": "string",
          "minLength": 1
        },
        "venue_name": {
          "type": "string",
          "minLength": 1
        },
        "start_date": {
          "type": "string",
          "minLength": 1
        },
        "end_date": {
          "type": "string",
          "minLength": 1
        },
        "created_date": {
          "type": "string",
          "minLength": 1
        },
        "update_date": {
          "type": "string",
          "minLength": 1
        },
        "draft_date": {
          "type": "string",
          "minLength": 1
        },
        "live_date": {
          "type": "string",
          "minLength": 1
        },
        "is_deleted": {
          "type": "string",
          "minLength": 1
        },
        "deletion_date": {
          "type": "string",
          "minLength": 1
        },
        "cancelled_date": {
          "type": "string",
          "minLength": 1
        },
        "short_name": {
          "type": "string",
          "minLength": 1
        },
        "type": {
          "type": "string",
          "minLength": 1
        },
        "comment": {
          "type": "string",
          "minLength": 1
        },
        "event_type": {
          "type": "string",
          "minLength": 1
        },
        "bank_transfer_period": {
          "type": "string",
          "minLength": 1
        },
        "booking_approval": {
          "type": "string",
          "minLength": 1
        },
        "duplicate_email_detection": {
          "type": "string",
          "minLength": 1
        },
        "total_event_capacity": {
          "type": "string",
          "minLength": 1
        },
        "status": {
          "type": "string",
          "minLength": 1
        },
        "total_amount": {
          "type": "number"
        },
        "image_shape_type": {
          "type": "string",
          "minLength": 1
        },
        "image": {
          "type": "string",
          "minLength": 1
        },
        "image_cover": {
          "type": "string",
          "minLength": 0
        },
        "has_manual_approve": {
          "type": "boolean"
        },
        "has_coupons": {
          "type": "boolean"
        },
        "has_access_codes": {
          "type": "boolean"
        },
        "address": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number"
            },
            "place_id": {
              "type": "string",
              "minLength": 1
            },
            "latitude": {
              "type": "string",
              "minLength": 1
            },
            "longitude": {
              "type": "string",
              "minLength": 1
            },
            "street_address": {
              "type": "string",
              "minLength": 1
            },
            "street_number": {
              "type": "string",
              "minLength": 1
            },
            "route": {
              "type": "string",
              "minLength": 1
            },
            "city": {
              "type": "string",
              "minLength": 1
            },
            "country": {
              "type": "string",
              "minLength": 1
            },
            "timezone_id": {
              "type": "string",
              "minLength": 1
            },
            "postcode": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_1": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_2": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_3": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_4": {
              "type": "string",
              "minLength": 1
            },
            "administrative_area_level_5": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_1": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_2": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_3": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_4": {
              "type": "string",
              "minLength": 1
            },
            "sublocality_level_5": {
              "type": "string",
              "minLength": 1
            },
            "formatted_address": {
              "type": "string",
              "minLength": 1
            },
            "timezone_offset": {
              "type": "number"
            }
          },
          "required": [
            "id",
            "place_id",
            "latitude",
            "longitude",
            "city",
            "country",
            "timezone_id",
            "administrative_area_level_1",
            "administrative_area_level_2",
            "formatted_address",
            "timezone_offset"
          ]
        },
        "questions": {
          "type": "object",
          "properties": {
            "buyer_questions": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "default_questions": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additional_questions": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "question_id": {
                        "type": "number"
                      },
                      "answer_id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "answer": {
                        "type": "string",
                        "minLength": 1
                      },
                      "required": {
                        "type": "boolean"
                      },
                      "label": {
                        "type": "string",
                        "minLength": 1
                      },
                      "field_type": {
                        "type": "string",
                        "minLength": 1
                      },
                      "field_options": {
                        "type": "object",
                        "properties": {
                          "size": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "size"
                        ]
                      },
                      "order": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "question_id",
                      "answer_id",
                      "answer",
                      "required",
                      "label",
                      "field_type",
                      "field_options",
                      "order"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "default_questions",
                "additional_questions"
              ]
            },
            "attendee_questions": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "default_questions": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additional_questions": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "question_id": {
                        "type": "number"
                      },
                      "answer_id": {
                        "type": "number"
                      },
                      "answer": {
                        "type": "string",
                        "minLength": 1
                      },
                      "required": {
                        "type": "boolean"
                      },
                      "label": {
                        "type": "string",
                        "minLength": 1
                      },
                      "field_type": {
                        "type": "string",
                        "minLength": 1
                      },
                      "field_options": {
                        "type": "object",
                        "properties": {
                          "size": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "size"
                        ]
                      },
                      "order": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "question_id",
                      "answer_id",
                      "answer",
                      "required",
                      "label",
                      "field_type",
                      "field_options",
                      "order"
                    ]
                  }
                }
              },
              "required": [
                "default_questions",
                "additional_questions"
              ]
            }
          },
          "required": [
            "buyer_questions",
            "attendee_questions"
          ]
        },
        "contact": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "minLength": 0
            },
            "email": {
              "type": "string",
              "minLength": 1
            },
            "phone": {
              "type": "string",
              "minLength": 0
            },
            "organization": {
              "type": "string",
              "minLength": 1
            },
            "organizer_id": {
              "type": "string",
              "minLength": 1
            }
          },
          "required": [
            "name",
            "email",
            "phone",
            "organization",
            "organizer_id"
          ]
        },
        "terms": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "minLength": 1
            }
          },
          "required": [
            "type"
          ]
        },
        "event_attributes": {
          "type": "object",
          "properties": {
            "attributes": {
              "type": "array",
              "items": {
                "properties": {
                  "controlling": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "string",
                    "minLength": 1
                  },
                  "id": {
                    "type": "number"
                  },
                  "order": {
                    "type": "number"
                  },
                  "template_id": {
                    "type": "number"
                  }
                },
                "required": [
                  "controlling",
                  "data",
                  "id",
                  "order",
                  "template_id"
                ]
              }
            },
            "templates": {
              "type": "array",
              "items": {
                "properties": {
                  "controlling": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "string",
                    "minLength": 1
                  },
                  "default": {
                    "type": "boolean"
                  },
                  "id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "template": {
                    "type": "boolean"
                  },
                  "type": {
                    "type": "number"
                  }
                },
                "required": [
                  "controlling",
                  "data",
                  "default",
                  "id",
                  "name",
                  "template",
                  "type"
                ]
              }
            }
          },
          "required": [
            "attributes",
            "templates"
          ]
        },
        "ticket_limitation": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number"
            },
            "max": {
              "type": "number"
            }
          }
        },
        "event_settings": {
          "type": "object",
          "properties": {
            "custom_checkout_text": {
              "type": "object",
              "properties": {
                "de": {
                  "type": "string",
                  "minLength": 0
                },
                "en": {
                  "type": "string",
                  "minLength": 0
                }
              },
              "required": [
                "de",
                "en"
              ]
            },
            "has_white_labels": {
              "type": "number"
            },
            "payment_bank_transfer": {
              "type": "number"
            },
            "payment_credit_card": {
              "type": "number"
            },
            "payment_paypal": {
              "type": "number"
            }
          },
          "required": [
            "custom_checkout_text",
            "has_white_labels",
            "payment_bank_transfer",
            "payment_credit_card",
            "payment_paypal"
          ]
        },
        "amount": {
          "type": "number"
        },
        "ticket_categories": {
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "description": {
                "type": "string",
                "minLength": 0
              },
              "show_remaining_capacity": {
                "type": "boolean"
              },
              "min": {
                "type": "string",
                "minLength": 1
              },
              "vat": {
                "type": "number"
              },
              "vat_percent": {
                "type": "number"
              },
              "start_date": {
                "type": "string",
                "minLength": 1
              },
              "display_order": {
                "type": "string",
                "minLength": 1
              },
              "available_amount": {
                "type": "number"
              },
              "is_featured": {
                "type": "boolean"
              },
              "is_ended": {
                "type": "boolean"
              },
              "ticket_price": {
                "type": "number"
              },
              "ticket_fees": {
                "type": "number"
              },
              "max_available_amount": {
                "type": "number"
              },
              "min_available_amount": {
                "type": "number"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "show_remaining_capacity",
              "min",
              "vat",
              "vat_percent",
              "display_order",
              "available_amount",
              "is_featured",
              "is_ended",
              "ticket_price",
              "ticket_fees",
              "max_available_amount",
              "min_available_amount"
            ]
          }
        },
        "participants_count": {
          "type": "number"
        },
        "show_bank_transfer": {
          "type": "boolean"
        },
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            }
          },
          "required": [
            "self"
          ]
        }
      },
      "required": [
        "id",
        "user_id",
        "contact_detail_id",
        "location_id",
        "title",
        "venue_address",
        "start_date",
        "end_date",
        "created_date",
        "update_date",
        "draft_date",
        "is_deleted",
        "short_name",
        "type",
        "event_type",
        "bank_transfer_period",
        "booking_approval",
        "duplicate_email_detection",
        "total_event_capacity",
        "status",
        "total_amount",
        "image_shape_type",
        "image",
        "image_cover",
        "has_manual_approve",
        "has_coupons",
        "has_access_codes",
        "address",
        "questions",
        "contact",
        "terms",
        "event_attributes",
        "ticket_limitation",
        "event_settings",
        "amount",
        "ticket_categories",
        "participants_count",
        "show_bank_transfer",
        "_links"
      ]
    },
    "OauthZapierPostRequest": {
      "type": "object",
      "description": "",
      "required": [
        "client_id",
        "client_secret",
        "grant_type"
      ],
      "properties": {
        "client_secret": {
          "type": "string",
          "minLength": 1
        },
        "code": {
          "type": "string",
          "minLength": 1
        },
        "refresh_token": {
          "type": "string",
          "minLength": 1
        },
        "grant_type": {
          "type": "string",
          "minLength": 1
        },
        "client_id": {
          "type": "string",
          "default": "zapier",
          "minLength": 1
        },
        "redirect_uri": {
          "type": "string",
          "default": "https://www.doo.net",
          "minLength": 1
        }
      }
    },
    "OauthPostRequest": {
      "type": "object",
      "description": "",
      "properties": {
        "username": {
          "type": "string",
          "minLength": 1
        },
        "password": {
          "type": "string",
          "minLength": 1
        },
        "grant_type": {
          "type": "string",
          "default": "password",
          "minLength": 1
        },
        "client_id": {
          "type": "string",
          "default": "viovendi_web",
          "minLength": 1
        }
      },
      "required": [
        "client_id",
        "grant_type",
        "password",
        "username"
      ]
    },
    "EventsGetResponse": {
      "type": "object",
      "description": "",
      "properties": {
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            },
            "first": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "href"
              ]
            },
            "last": {
              "type": "object",
              "properties": {
                "href": {
[...]
